{% extends "app/base.html" %}
 
{% block title %}URL shortner{% endblock %}
 
{% block content %}
 
<div class="panel panel-default">
 <div class="panel-body">
 <div class="col-sm-9">
 <input type="text" name="url" id="url" class="form-control input-sm" placeholder="Enter the URL" onkeydown = "if (event.keyCode == 13)
                        document.getElementById('submitButton').click()"     />
 </div>
 <div class="col-sm-3">
 {% csrf_token %}
 <button id="submitButton" class="btn btn-primary">Submit</button></p> 


 </div>
 </div>
 <div class="panel-footer"><span id="url-result"></span></div>
</div>
{% endblock %}
